body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    /*width: 100%;*/
    height: auto;
    margin: 0px;
    padding: 7px;
    /*height: 100%;*/
    
    /*flex-direction: column;*/

}
nav {
    background-color: rgb(227, 222, 230);
    position: fixed;
    left: 0;
    max-width: 15%;
    overflow-y: auto;
    margin: 3px;
    height: 100%;
    padding-top: 15px;;
}
nav > header {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 2.3em;
}
nav > ul {
    list-style: none;
    padding-left: 15px;
    
}
nav > ul > li  {
    padding: 25px 1px 25px 1px; 
}
nav > ul > li > a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article {
    /*background-color: rgb(161, 157, 163);*/

    margin: 15px;
    /*height: 100%;*/
    margin-left: 250px;
}

.main-section {
    margin: 5px;
    padding: 5px;
}
.main-section > header {
    /*text-align: center;*/
    text-decoration: underline;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 600px){
    nav {
        top: 0;
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        position: absolute;
    }
    nav > ul > li  {
        text-align: center;
        padding: 15px 1px 15px 1px; 
    }
    article {
        margin: 350px 1px 0 1px;
    }
}